.column-menu {
}

#unregistered-menu {

}

#registered-menu {

}

#admin-menu {

}

.menu-title {
    color: #a00;
    font-family: "RobotoCondensed-Bold";
    text-align: center;
    padding: 0.4em 0;
    background-color: #FFEEAA;
    text-transform: uppercase;
    font-size: 0.8em;
    border-bottom: #555 solid 1px;
}

#registered-menu > .menu-title, #admin-menu > .menu-title {
    border-top: #555 solid 1px;
}

.menu_button_container {
    padding: 0.4em 1.5em;

}

.menu-button {
    font-size: 1.2em;
    font-family: "RobotoCondensed-Regular";
    color: black;
    margin-right: 2%;
}

#user-welcome {
    font-family: "RobotoCondensed-Bold";
    font-size: 1.2em;
    padding: 0.5em 1em 0 1.3em;
}

#user-menu-login-button {
    font-family: "Roboto-Bold";
    font-size: 1.4em;
    padding: 1em;
    text-align: center;
}