/* HEADER LOGO */
#header-logo-container {
    width: 80%;
}

#header-logo-title {
    font-size: 2.5em;
    font-family: "Roboto-Bold";
    color: white;
    margin-right: 2%;
}

#header-logo-description {
    font-size: 2em;
    font-family: "RobotoCondensed-Regular";
    color: white;
}

#header-logo-image {
    width: 70px;
    margin-right: 3%;
}