/* GLOBAL ELEMENTS */
html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'RobotoCondensed-Regular'; /*a name to be used later*/
    src: url('/resources/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype'); /*URL to font*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed-Bold'; /*a name to be used later*/
    src: url('/resources/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf') format('truetype'); /*URL to font*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed-Italic'; /*a name to be used later*/
    src: url('/resources/fonts/RobotoCondensed/RobotoCondensed-Italic.ttf') format('truetype'); /*URL to font*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular'; /*a name to be used later*/
    src: url('/resources/fonts/Roboto/Roboto-Regular.ttf') format('truetype'); /*URL to font*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold'; /*a name to be used later*/
    src: url('/resources/fonts/Roboto/Roboto-Bold.ttf') format('truetype'); /*URL to font*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Italic'; /*a name to be used later*/
    src: url('/resources/fonts/Roboto/Roboto-Italic.ttf') format('truetype'); /*URL to font*/
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "Roboto-Regular";
    font-size: 1.2em;
}

body {
    background: url("/resources/img/pattern_beige.jpg") repeat;
    min-width: 840px;
    max-width: 1280px;
    margin: 0px auto;
}

/* unvisited link */
/* visited link */
a:link, a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
/* selected link */
a:hover, a:active {
    color: red;
    text-decoration: none;
}

.vertical-align * {
    vertical-align: middle;
    display: inline-block;
}

.dummy {
    vertical-align: middle;
    display: inline-block;
}

#not-found {
    text-align: center;
    font-family: Roboto-Bold;
    font-size: 2em;
}


/*LAYOUT ELEMENTS*/

#header {
    padding: 2em 3em;
    background-color: #E00000;
    border: #555 solid 1px;
    width: 100%;
    overflow: hidden;
    zoom: 1;
}

#wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: bottom;
    padding-right: 280px;

    border-left: #555 solid 1px;
    border-bottom: #555 solid 1px;
    border-right: #555 solid 1px;
    background-color: white;
}

#main-page {
    float: left;
    width: 100%;
    border-right: #555 solid 1px;

    text-align: center;
    /* padding: 1em 3em; */
}

.page-title {
    font-size: 1.2em;
    font-family: "RobotoCondensed-Regular";
    background-color: #999;
    padding: 0.4em 3em;
    text-align: left;
    text-transform: uppercase;
    border-bottom: #555 solid 1px;
    color: white;
}

.page-subtitle {
    font-size: 1.5em;
    font-family: "Roboto-Regular";
    margin-left: 2em;
    text-align: left;
}

.content-padding {
    padding: 1.5em 3em;
}

#column{
    float: left;
    width: 280px;
    margin-right: -280px;
    position: relative;
    margin-left: -1px;
    border-left: #555 solid 1px;

    font-family: "RobotoCondensed-Regular";
    font-size: 1.5em;
    /*background-color: antiquewhite;*/
}

#footer {
    overflow: hidden;
    zoom: 1;
    background-color: #E00000;
    border-left: #555 solid 1px;
    border-right: #555 solid 1px;
    border-bottom: #555 solid 1px;
    padding: 0.5em;
    color: white;
    font-family: Roboto-Italic;
    text-align: center;
    vertical-align: middle;
}

#created-by {

}