/*WELCOME*/
#welcome-title {
    font-family: Roboto-Bold;
    font-size: 2em;
}

#welcome-description {
    font-family: RobotoCondensed-Italic;
    font-size: 1.5em;
}

#catalogo-icon {
    width: 260px;
}

#catalogo-label {
    width: auto;
    font-family: "Roboto-Bold";
    font-size: 1.5em;
}

/*LOGIN*/
#login-form-title{
    font-size: 1.6em;
    margin-bottom: 1em;
    font-family: "Roboto-Bold";
}

#login-container {
    width: 500px;
    display: inline-block;
    text-align: center;
}

.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#login-box {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}


/*CATALOGO*/
#catalogo-container {
    padding: 1em;
}

#catalogo-pizze-table {
    width: 100%;
}

.catalogo-pizze-nome {
    font-family: Roboto-Bold;
}

.catalogo-pizze-ingredienti {
    font-family: RobotoCondensed-Italic;
    padding-bottom: 0.5em;
}

.catalogo-pizze-prezzo {
    font-family: Roboto-Bold;
    text-align: right;
}


/*PRENOTA*/
#prenotaBox {

}

#prenota-form {
    width: 100%;
    display: inline-block;
    margin-bottom: 2em;
}

.border-bottom-dashed {
    border-bottom: 1px dashed #000;
}

.prenota-el{
    margin: 15px;
}

#labelCosto {
    font-family: Roboto-Bold;
    color: red;
}

#prenotaCarrello {
    width: 100%;
}

#prenota-carrello-form {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

#prenotaRiepilogoContainer {
    width: 65%;
    display: inline-block;
    padding: 0 5%;
    vertical-align: top;
    font-family: Roboto-Italic;
    text-align: center;
}

#prenotaRiepilogo {
    width: 80%;
    margin: auto;
}

.prenota-carrello-cancella {
    font-family: Roboto-Bold;
    color: red;
}

/*PRENOTAZIONI*/

#prenotazione-container {
    padding: 1em;
}

.prenotazione-tile {
    background-color: papayawhip;
    display: inline-block;
    padding: 1em;
    margin: 0.5em;
    font-family: RobotoCondensed-Regular;
    font-size: 1.3em;
    border-radius: 5px;
    border: #555 solid 1px;
    vertical-align: top;
}

.prenotazione-pizze {
    text-align: left;
}

.prenotazione-pizza-el {
    width: 100%;
}

.prenotazione-type-pizza {
    display: inline-block;
    width: 70%;
}

.prenotazione-type-quantita {
    display: inline-block;
    width: 25%;
}

.prenotazione-data {
    margin-top: 0.5em;
    font-family: RobotoCondensed-Italic;
}

.prenotazione-actions {
    width: 100%;
    display: inline-block;
}

.prenotazione-conferma-on, .prenotazione-conferma-off, .prenotazione-cancella {
    width: 40px;
    margin: 0.7em;
}

/*ALERTS*/
.error-modal-dialog {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -300px;
}

.error-modal-content {
    width: 600px;
    border-radius: 10px;
    background-color: #f2dede;
    color: #a94442;
    border-color: #ebccd1;
    padding: 1em;
    font-family: Roboto-Bold;
    font-size: 1.3em;
    border: solid 2px;
}